<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>miniMessages</h1>
      <nav>
        <ul class="navList">
          <li>
            <a href="/" class="<%= path === '/'? 'active': ''%>">Home</a>
          </li>
          <li>
            <a
              href="/messages/new"
              class="<%= path === '/messages/new'? 'active': ''%>"
              >Send a Message</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
