<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <script>
      function validateForm(event) {
        event.preventDefault();

        const messageText = document.getElementById("text").value.trim();
        const messageUser = document.getElementById("user").value.trim();

        if (!messageText) {
          alert("Message cannot be empty!");
          return;
        }

        if (!messageUser) {
          alert("Please enter your name!");
          return;
        }
        // If validation passes, submit the form
        document.getElementById("newMessageForm").submit();
      }
    </script>
  </head>
  <body>
    <%- include('header') %>
    <form
      id="newMessageForm"
      method="post"
      action="/messages/new"
      onsubmit="validateForm(event)"
    >
      <input
        class="nameInput"
        type="text"
        id="user"
        name="messageUser"
        placeholder="Type your name.."
      />
      <div class="inputContainer">
        <textarea
          rows="5"
          type="text"
          id="text"
          name="messageText"
          placeholder="Send your message to the world!"
          class="messageBox"
        ></textarea>

        <button class="sendBtn" type="submit">Send</button>
      </div>
    </form>
  </body>
</html>
