<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form method="post" action="/new">
      <h3>Send your message to the world!</h3>
      <div class="inputContainer">
        <textarea
          rows="5"
          type="text"
          id="text"
          name="messageText"
          placeholder="Type your message.."
          class="messageBox"
        ></textarea>

        <input
          style="display: block; width: 183px"
          type="text"
          id="user"
          name="messageUser"
          placeholder="Type your name.."
        />
        <button
          style="display: flex; justify-self: flex-end; margin-top: 8px"
          type="submit"
        >
          Send
        </button>
      </div>
    </form>
  </body>
</html>
